################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FineUIEx/bin/Debug/net8.0
/FineUIEx/obj
/MermaidHelp-Web/bin/Debug/net8.0
/MermaidHelp-Web/obj
/MermaidHelp-Web/helpconfig.Development.json
